<app-side-bar></app-side-bar>

<div>

    <!-- CARRUSEL -->
    <div class="">
        <p-galleria
            [value]="carrusel"
            [autoPlay]="false"
            [transitionInterval]="3000"
            [showThumbnails]="false"
            [showItemNavigators]="true"
            [circular]="true"
            [numVisible]="1"
            [containerStyle]="{ 'max-width': '100%', 'height': '800px' }"
        >
        <ng-template pTemplate="item" let-item>
            <img 
                [src]="item.itemImageSrc" 
                style="width: 100%; height: 800px; object-fit: cover;"
            />
        </ng-template>
        </p-galleria>
    </div>    

    <!-- DATOS -->
    <div class="my-6 card-container flex my-6">
        <div *ngFor="let item of iconosDatos; let i = index" class="cardData" 
             (mouseover)="onHover(i, true)" (mouseout)="onHover(i, false)">
          <div class="align-items-center gap-3">
            <object #icono [attr.data]="item.svgUrl" type="image/svg+xml" class="logo"></object>
            <span>{{ item.desc }}</span>
          </div>
        </div>
    </div>
      
    <!-- PAGO PREDIAL -->
    <div class="my-6 p-6"  [ngStyle]="{'background-color': 'var(--colorGris)'}" style="color: var(--colorGrisOscuro);">
        <div class="flex justify-content-center my-3"> 
            <h2 class="text-6xl font-normal mr-2" >
                Realiza tu 
            </h2>
            <h2 class="text-6xl font-bold font-italic">
                pago Predial
            </h2>
        </div>
        <div class="flex justify-content-center -ml-8">
            <div>
                <img src="{{icono_casa}}" alt="icono_casa" width="70%" class="block mx-auto">
            </div>
            <div class="w-3 text-xl flex flex-column justify-content-center align-items-center">
                <div class="mb-6">
                    <p class="line-height-2">
                        ¡Ya puedes realizar tu pago a través de nuestra plataforma! 
                        Te sugerimos contar con tu línea de captura o clave catastral.
                    </p>
                </div>
                <div class="flex justify-content-center w-full">
                    <a href="#" class="Btn-Azul mr-4">Realiza pago</a>
                    <a href="#" class="Btn-Blanco">Ver tutorial</a>
                </div>
            </div>
        </div>
    </div>
      
    <!-- DIF -->
    <div class="my-6 w-full">
        <div class="flex justify-content-center"> 
            <h2 class="text-6xl font-normal my-6" >
                Destacados
            </h2>
        </div>
        <div class="flex w-full">
            <div *ngFor="let service of serviciosDIF" class="col-4 p-0">
              <div class="card p-0">
                <div class="card-image">
                  <img [src]="service.image" [alt]="service.name">
                </div>
                <div class="card-content flex flex-column justify-content-center align-items-center">
                  <h4 class="pt-2 text-4xl font-semibold">{{ service.name }}</h4>
                  <h5>{{ service.desc }}</h5>
                </div>
              </div>
            </div>
        </div>          
    </div>
      
    <!-- NOTICIAS -->
    <div class="my-6 mx-auto w-8">
        <div class="flex justify-content-center"> 
            <h2 class="text-6xl font-normal my-6">
                Noticias
            </h2>
        </div>

        <p-carousel 
            [value]="obras" 
            [numVisible]="3" 
            [numScroll]="3" 
            [circular]="false" 
            [responsiveOptions]="responsiveOptions">
                <ng-template let-obra pTemplate="item">
                    <div class="m-3 cursor-pointer" (click)="selectObra(obra)">
                        <div class="mb-3">
                            <div class="relative mx-auto image-container">
                                <img 
                                [src]="obra.imagen"
                                [alt]="obra.nombre"
                                class="image"
                                 />
                            </div>
                        </div>
                        <p class="mb-2 font-medium text-xs">
                            {{ obra.fechaCreacion }}
                        </p>
                        <p class="mb-3 font-medium">
                            {{ obra.nombre }}
                        </p>
                    </div>
                </ng-template>
        </p-carousel>
    </div>

    <!-- REDES SOCIALES -->
    <div class="my-6 p-6"  [ngStyle]="{'background-color': 'var(--colorGris)'}" style="color: var(--colorGrisOscuro);">
        <div class="flex justify-content-center my-3"> 
            <h2 class="text-6xl font-normal mr-2" >
                ¡Síguenos
            </h2>
            <h2 class="text-6xl font-bold font-italic">
                en Redes!
            </h2>
        </div>                      
        <div class="flex justify-content-center w-full my-6">
            <a href="#" class="Btn-Azul mr-4">Facebook</a>
        </div>
        <div class="my-6">
            <img src="{{icono_casa}}" alt="icono_casa" width="10%" class="block mx-auto">
        </div>
    </div>

    <!-- OTRAS EMPRESAS -->
    <div class="my-6">
        <div class="flex flex-wrap justify-content-between w-full">
          <div *ngFor="let empresa of empresasLogo" class="col-4 mb-4">
            <div class="text-center">
              <img [src]="empresa.image" [alt]="empresa.name" class="block mx-auto" [width]="300" />
            </div>
          </div>
        </div>
    </div>

</div>

<p-toast />
<div *ngIf="spinner" class="overlay">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
        animationDuration=".5s" />
</div>

<app-footer></app-footer>