<app-side-bar></app-side-bar>

<div class="overflow-hidden">

    <!-- CARRUSEL -->
    <div class="image-wrapper" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
        <div class="carousel-container">
            <div class="carousel-container" (mouseenter)="pauseAutoSlide()" (mouseleave)="startAutoSlide()">
                <div class="carousel" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'" [style.transition]="isTransitionEnabled ? 'transform 0.5s ease-in-out' : 'none'">
                <div class="carousel-item" *ngFor="let image of clonedImages">
                    <img [src]="image.itemImageSrc" alt="Imagen de carrusel">
                </div>
                </div>
            </div>
            <button class="prev" (click)="prevSlide()">&#10094;</button>
            <button class="next" (click)="nextSlide()">&#10095;</button>
        </div>
        <div class="overlayp"></div>
    </div>

    <!-- DATOS -->
    <div class="my-8 card-container flex">
        <div *ngFor="let item of iconosDatos; let i = index" class="cardData"
             (mouseover)="onHover(i, true)" (mouseout)="onHover(i, false)">
          <div class="align-items-center gap-3"  data-aos="fade-up" data-aos-duration="1000">
            <object #icono [attr.data]="item.svgUrl" type="image/svg+xml" class="logo"></object>
            <span>{{ item.desc }}</span>
          </div>
        </div>
    </div>
      
    <!-- PAGO PREDIAL -->
    <div class="my-6 p-6" [ngStyle]="{'background-color': 'var(--colorGris)'}" style="color: var(--colorGrisOscuro);" data-aos="fade-up" data-aos-duration="1000">
        <div class="block md:flex justify-content-center my-3"> 
            <h2 class="text-6xl font-normal my-0 md:mr-2">
                Realiza tu 
            </h2>
            <h2 class="text-6xl font-bold font-italic my-0">
                pago Predial
            </h2>
        </div>
        <div class="block md:flex justify-content-center -ml-0 md:-ml-8">
            <div class="col-12 md:col-4 w-5 md:w-3 mx-auto md:mx-0">
                <img src="{{icono_casa}}" alt="icono_casa" width="100%" class="block mx-auto">
            </div>
            <div class="col-12 md:col-6  md:w-5 text-xl text-xl flex flex-column justify-content-center align-items-center mx-auto md:mx-0">
                <div class="mb-6">
                    <p class="line-height-2 ">
                        ¡Ya puedes realizar tu pago a través de nuestra plataforma! 
                        Te sugerimos contar con tu línea de captura o clave catastral.
                    </p>
                </div>
                <div class="flex justify-content-center w-full">
                    <a href="#" class="Btn-Azul mr-4">Realiza pago</a>
                    <a href="#" class="Btn-Blanco">Ver tutorial</a>
                </div>
            </div>
        </div>
    </div>
      
    <!-- DIF -->
    <div class="my-6 w-full">
        <div class="flex justify-content-center"> 
            <h2 class="text-6xl font-normal my-6" style="color: var(--colorGrisOscuro);"  data-aos="zoom-in" data-aos-duration="1000">
                Destacados
            </h2>
        </div>
        <div class="flex flex-wrap w-full">
            <div *ngFor="let service of serviciosDIF" class="col-12 md:col-4 p-0" data-aos="zoom-in-right" data-aos-duration="1000">
              <div class="card p-0">
                <div class="card-image">
                  <img [src]="service.image" [alt]="service.name">
                </div>
                <div class="card-content flex flex-column justify-content-center align-items-center">
                  <h4 class="pt-2 text-4xl font-semibold">{{ service.name }}</h4>
                  <h5>{{ service.desc }}</h5>
                </div>
              </div>
            </div>
        </div>          
    </div>
      
    <!-- NOTICIAS -->
    <div class="my-6 mx-auto w-11 md:w-8">
        <div class="flex justify-content-center" data-aos="zoom-in" data-aos-duration="1000"> 
            <h2 class="text-6xl font-normal my-6" style="color: var(--colorGrisOscuro);">
                Noticias
            </h2>
        </div>

        <p-carousel data-aos="zoom-out" data-aos-duration="1000"
            [value]="obras"
            [numVisible]="3" 
            [numScroll]="3" 
            [circular]="false" 
            [responsiveOptions]="responsiveOptions">
                <ng-template let-obra pTemplate="item">
                    <div class="m-3 cursor-pointer" (click)="selectObra(obra)">
                        <div class="mb-3">
                            <div class="w-auto relative mx-auto image-container">
                                <img 
                                [src]="obra.imagen"
                                [alt]="obra.nombre"
                                class="image"
                                 />
                            </div>
                        </div>
                        <p class="mb-2 font-medium text-xs">
                            {{ obra.fechaCreacion }}
                        </p>
                        <p class="mb-3 font-medium">
                            {{ obra.nombre }}
                        </p>
                    </div>
                </ng-template>
        </p-carousel>
    </div>

    <!-- REDES SOCIALES -->
    <div class="my-6 p-6" [ngStyle]="{'background-color': 'var(--colorGris)'}" style="color: var(--colorGrisOscuro);">
        <div class="block md:flex justify-content-center my-3" data-aos="zoom-out-down" data-aos-duration="1000"> 
            <h2 class="text-6xl font-normal my-0 md:mr-2" >
                ¡Síguenos
            </h2>
            <h2 class="text-6xl font-bold font-italic my-0">
                en Redes!
            </h2>
        </div>                      
        <div class="flex justify-content-center w-full my-6" data-aos="zoom-out-up" data-aos-duration="1000">
            <a href="#" class="Btn-Azul mr-4">Facebook</a>
        </div>
        <div class="my-6 col-12 md:col-4 w-5 md:w-2 mx-auto" data-aos="zoom-out-up" data-aos-duration="1000">
            <img src="{{icono_casa}}" alt="icono_casa" width="100%" class="block">
        </div>
    </div>

    <!-- OTRAS EMPRESAS -->
    <div class="my-6">
        <div class="flex flex-wrap justify-content-between w-full">
          <div *ngFor="let empresa of empresasLogo" class="col-12 md:col-4 p-3" data-aos="fade-up" data-aos-duration="1000">
            <div class="text-center">
              <img [src]="empresa.image" [alt]="empresa.name" class="block mx-auto" [width]="empresa.width" />
            </div>
          </div>
        </div>
    </div>

</div>

<p-toast />
<div *ngIf="spinner" class="overlay">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
        animationDuration=".5s" />
</div>

<app-footer></app-footer>