.carousel-container {
  position: relative;
  width: 100%;
  height: 80vh;
  margin: auto;
  overflow: hidden;

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform-origin: center;
    animation: zoomInOut 10s infinite ease-in-out;
  }

  /* Definición de la animación de zoom */
  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* Zoom-in */
    }
    100% {
      transform: scale(1); /* Zoom-out */
    }
  }

  button {
    position: absolute;
    top: 40%;
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    width: 50px;
    // height: 40px;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: auto; // Ajusta según el tamaño de tu carrusel
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px; // Ajusta la altura del recorte
    background: rgba(255, 255, 255, 0.4); // Capa blanca translúcida
    //backdrop-filter: blur(5px); // Opcional, da un efecto de desenfoque
    clip-path: polygon(0 45%, 100% 45%, 100% 100%, 0% 100%);
  }

  .overlayp {

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 120px; // Ajusta la altura del recorte
      background: white;
      // clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0 40%, 0% 100%, 100% 100%);
    }

  }

  @media (max-width: 768px) {
    .carousel-container {
      height: 50vh; // Menor altura en pantallas pequeñas
    }
  }

  @media (max-width: 450px) {
    .carousel-container {
      height: 35vh; // Menor altura en pantallas pequeñas
    }

    .carousel-container {
      button {
        padding: 5px;
        width: 30px;
      }
    }

  }
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
  }
  
.cardData {
  background-color: var(--colorBlanco);
  border-radius: 8px;
  padding: 3rem;
  width: 15rem;
  text-align: center;
  transition: box-shadow 0.3s, transform 0.3s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }

  object.logo {
      width: 8rem;
      transition: fill 0.3s; /* Puedes manipular el fill si es necesario */
  }

  // &:hover object.logo {
  // fill: #007bff; /* Cambiar color del SVG al pasar el mouse */
  // }

  span {
      font-size: 14px;
      transition: color 0.3s;
      color: var(--colorGrisOscuro);
  }

  &:hover span {
      color: var(--colorAzul);
  }
  
}


.card {
  position: relative;
  padding: 0;
  margin: 0 !important;
  // border-radius: 20px;
  overflow: hidden;
  max-width: 100%;
  max-height: 340px;
  // cursor: pointer;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
}

.card .card-image {
  width: 100%;
  max-height: 340px
}

.card .card-image img {
  width: 100%;
  max-height: 340px;
  object-fit: cover
}

.card .card-content {
  position: absolute;
  bottom: -350px;
  color: #fff;
  background: #0744bfb9;
  // backdrop-filter: blur(15px);
  // min-height: 140px;
  height: 100%;
  width: 100%;
  transition: bottom .3s ease-in;
  box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2)
}

.card:hover .card-content {
  bottom: 0px
}

.card:hover .card-content h4,
.card:hover .card-content h5 {
  transform: translateY(10px);
  opacity: 1
}

.card .card-content h4,
.card .card-content h5 {
  // font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  transition: 0.8s;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-40px);
  transition-delay: 0.2s
}

.card .card-content h5 {
  transition: 0.5s;
  font-weight: 200;
  font-size: 0.8rem;
  letter-spacing: 2px
}






.image-container {
  width: 300px; /* Ancho fijo del contenedor */
  height: 200px; /* Alto fijo del contenedor */
  overflow: hidden; /* Oculta cualquier parte que se salga del contenedor */
  display: flex; /* Centra la imagen */
  justify-content: center; 
  align-items: center;
  border-radius: 10px; /* Opcional: hace las esquinas redondeadas */
}

.image {
  width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  height: 100%; /* La imagen ocupará todo el alto del contenedor */
  object-fit: cover; /* Ajusta la imagen sin deformarla */
}








@media screen and (max-width: 1024px) {
  .container {
    margin-top: 20px
  }

  .container .row .col-lg-4 {
      margin: 20px 0px
  }

  // .image-wrapper {
  //   height: 600px;
  // }

  .carousel-container {
    button {
      font-size: 15px;
    }
  }
}

