<app-side-bar></app-side-bar>

    <div class="my-8">
        <div class="text-center text-4xl md:text-6xl" [ngStyle]="{'color': 'var(--colorGrisMenu)'}">
            <p>Aviso de privacidad por áreas</p>
        </div>

        <div class="grid mt-5 w-9 lg:w-10 xl:w-8 mx-auto">
            <div *ngFor="let item of obras" class="col-12 md:col-6 lg:col-6 xl:col-4 p-2">
                <div class="card p-4 border-round card-shadow">
                    <!-- 🟢 TEXTO CON LÍMITE DE 2 LÍNEAS Y TOOLTIP -->
                    <p 
                        #textElement
                        class="text-center text-xl font-italic font-medium text-limit"
                        style="color: var(--colorGrisOscuro);"
                        [pTooltip]="textElement.offsetHeight < textElement.scrollHeight ? item.nombre : undefined"
                        tooltipPosition="top">
                        {{ item.nombre }}
                    </p>
                    
                    <div class="flex justify-content-center gap-2 mt-3">
                        <button 
                            pButton 
                            label="Simplificado"
                            (click)="getArchivo(item.archivos, 1)"
                            [disabled]="!tieneArchivoTipo(item.archivos, 1)"
                            class="col-6 lg:col-6 xl:col-5 Btn-Gris text-sm">
                        </button>

                        <button 
                            pButton 
                            label="Integral" 
                            (click)="getArchivo(item.archivos, 2)"
                            [disabled]="!tieneArchivoTipo(item.archivos, 2)"
                            class="col-6 lg:col-6 xl:col-5 Btn-Gris text-sm">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="block md:flex justify-content-center my-4">
        <img src="../../../assets/img/ayuntamiento/icono_correo.png" alt="icono_correo" width="25" height="20" class="block my-auto mx-auto md:mx-0">
        <p class="font-semibold text-sm md:text-xl md:ml-3 text-center" [ngStyle]="{'color': 'var(--colorGrisMenu)'}">Tesoreria_larrainzar&#64;outlook.com</p>
    </div>

    <p-dialog [(visible)]="fileDialog" [style]="{ width: '800px' }" header="Detalle de archivo" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div *ngIf="fileUrl" class="mt-4">
                <iframe [src]="fileUrl" width="100%" height="900px"></iframe>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <p-button label="Cerrar" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
        </ng-template>
    </p-dialog>

    <p-toast />
    <div *ngIf="spinner" class="overlay">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
            animationDuration=".5s" />
    </div>

<app-footer></app-footer>