<footer class="font-semibold">
    <div class="block md:flex p-6" [ngStyle]="{'background-color': 'var(--colorAzul)', 'color': 'var(--colorGris)'}">
        <div class="col-12 md:col-4">
            <div class="flex mb-2" data-aos="zoom-in-right" data-aos-duration="1000">
                <img src="../../../../assets/img/footer/icono_ubicacion.png" alt="icono_ubicacion" width="25" height="30" class="mr-2 block my-auto">
                <p>Presidencia municipal S/N col. Zona centro 
                    CP. 29860</p>
            </div>
            <div class="flex" data-aos="zoom-in-right" data-aos-duration="1000">
                <img src="../../../../assets/img/footer/icono_telefono_blanco.png" alt="icono_telefono" width="25" height="30" class="mr-2 block my-auto">
                <p>(999) 456 1234</p>
            </div>
        </div>
        <div class="col-12 md:col-4 w-15rem md:w-18rem lg:w-20rem mx-auto" data-aos="zoom-in" data-aos-duration="1000">
            <img src="../../../../assets/img/footer/LOGO_BLANCO_CHICO.png" alt="LOGO_BLANCO" width="100%" class="block">
        </div>
    </div>
    <div class="text-center p-4" [ngStyle]="{'background-color': 'var(--colorCrema)'}">
        <p>H. Ayuntamiento de Larráinzar - Administración 2024-2027</p>
    </div>
</footer>