<nav class="menuCSS3 flex justify-content-between p-3" id="menu">

        <div class="logo">
            <img src="../../../../assets/img/sideBar/LOGO_COMPLETO.png" alt="LOGO_COMPLETO" width="200">
        </div>
        <!-- Menú de escritorio -->
        <ul class="menu-items uppercase">
            <li><a routerLink="/">Inicio</a></li>
            <li>
                <a>Ayuntamiento</a>
                <ul>
                    <li><a [routerLink]="['/ayuntamiento', 'presidente']">Presidente Municipal</a></li>
                    <li><a [routerLink]="['/ayuntamiento', 'cabildo']">Integración de cabildo</a></li>
                    <li><a [routerLink]="['/ayuntamiento', 'directorio']">Directorio Municipal</a></li>
                </ul>
            </li>
            <li><a [routerLink]="['/dif']">DIF</a></li>
            <li><a [routerLink]="['/obras',0]">Obras públicas</a></li>
            <li>
                <a>Transparencias</a>
                <ul>
                    <li><a [routerLink]="['/avisoPrivacidad']">Aviso de privacidad</a></li>
                </ul>
            </li>
            <li><a [routerLink]="['/sevac']">SEVAC</a></li>
        </ul>
</nav>

<nav class="menuMobil">
    <div>
        <div class="flex justify-content-between p-3">
            <div class="w-6">
                <img src="../../../../assets/img/sideBar/LOGO_COMPLETO.png" alt="LOGO_COMPLETO" width="100%">
            </div>
            <div class="my-auto">
                <p-button (onClick)="sidebarVisible = true" icon="pi pi-bars" ></p-button>
            </div>
        </div>

        <p-sidebar #sidebarRef [(visible)]="sidebarVisible">
            <ng-template pTemplate="headless">
                <div class="flex flex-column h-full">
                    <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
                        <span class="inline-flex align-items-center gap-2 w-2">
                            <img src="../../../../assets/img/sideBar/ICONO.png" alt="LOGO_COMPLETO" width="100%">
                        </span>
                        <span>
                            <p-button type="button" (onClick)="closeCallback($event)" icon="pi pi-times" rounded="true" outlined="true" styleClass="h-2rem w-2rem"></p-button>
                        </span>
                    </div>
                    <div class="overflow-y-auto">

                        <ul class="list-none p-0 m-0 overflow-hidden uppercase">
                            <li>
                                <a routerLink="/" pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                    <i class="pi pi-home mr-2"></i>
                                    <span class="font-medium">Inicio</span>
                                </a>
                            </li>
                            <li>
                                <a
                                    pRipple
                                    pStyleClass="@next"
                                    enterClass="hidden"
                                    enterActiveClass="slidedown"
                                    leaveToClass="hidden"
                                    leaveActiveClass="slideup"
                                    class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                                >
                                    <i class="pi pi-building mr-2"></i>
                                    <span class="font-medium">Ayuntamiento</span>
                                    <i class="pi pi-chevron-down ml-auto"></i>
                                </a>
                                <ul class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                                    <li>
                                        <a [routerLink]="['/ayuntamiento', 'presidente']" pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                            <i class="pi pi-book mr-2"></i>
                                            <span class="font-medium">Presidente Municipal</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/ayuntamiento', 'cabildo']" pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                            <i class="pi pi-book mr-2"></i>
                                            <span class="font-medium">Integración de cabildo</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/ayuntamiento', 'directorio']" pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                            <i class="pi pi-book mr-2"></i>
                                            <span class="font-medium">Directorio Municipal</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a [routerLink]="['/dif']" pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                    <i class="pi pi-users mr-2"></i>
                                    <span class="font-medium">DIF</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/obras',0]" pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                    <i class="pi pi-images mr-2"></i>
                                    <span class="font-medium">Obras públicas</span>
                                </a>
                            </li>
                            <li>
                                <a
                                    pRipple
                                    pStyleClass="@next"
                                    enterClass="hidden"
                                    enterActiveClass="slidedown"
                                    leaveToClass="hidden"
                                    leaveActiveClass="slideup"
                                    class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                                >
                                    <i class="pi pi-bell mr-2"></i>
                                    <span class="font-medium">Transparencias</span>
                                    <i class="pi pi-chevron-down ml-auto"></i>
                                </a>
                                <ul class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                                    <li>
                                        <a [routerLink]="['/avisoPrivacidad']" pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                            <i class="pi pi-file-pdf mr-2"></i>
                                            <span class="font-medium">Aviso de privacidad</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a [routerLink]="['/sevac']" pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                    <i class="pi pi-calendar mr-2"></i>
                                    <span class="font-medium">SEVAC</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </ng-template>
        </p-sidebar>
    </div>
</nav>