h3, p{
    color: var(--colorGrisOscuro);
}

.custom-galleria .profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
  transition: opacity 1s ease, transform 1s ease; /* Transición suave */
}

/* Aseguramos que el contenedor no cambie de tamaño al cambiar de sección */
.custom-galleria .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px; /* Ajustamos el tamaño del contenedor */
  transition: opacity 1s ease, transform 1s ease;
  padding: 0 20px; /* Asegura que haya un espaciado adecuado */
}

.custom-galleria .slick-track {
  display: flex;
  justify-content: center;
  transition: transform 1s ease;
}

/* Aseguramos que el texto no cause cambios de tamaño inesperados */
.custom-galleria .slick-slide .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Para asegurarse de que ocupe toda la altura disponible */
  text-align: center;
  transition: opacity 1s ease;
}

/* Estilos para miniaturas */


// .thumbnail-container {
//   cursor: pointer;
//   padding: 0.5rem;
//   border-radius: 50%;
//   transition: transform 0.2s ease-in-out;
// }

// .thumbnail-container.active-thumbnail {
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
// }

// .thumbnail-image {
//   width: 120px;
//   height: 120px;
//   border-radius: 50%;
//   object-fit: cover;
// }
.thumbnails {
  margin-top: 2rem;
  gap: 1rem;
}

.thumbnail-container {
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  margin: auto;
  transition: transform 0.2s ease-in-out;
}

/* Aplica el borde de trazos SOLO cuando no está seleccionado */
.thumbnail-container:not(.active-thumbnail) {
  border: 2px dashed var(--colorGrisOscuro); /* Color del marco */
  //padding: 5px; /* Espacio para que el borde no toque la imagen */
 
  &:hover {
    border: 2px dashed var(--colorAzul); /* Color del marco */
  }
}

/* Estilo cuando está seleccionado (sin borde) */
.thumbnail-container.active-thumbnail {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border: none;
  padding: 1.1rem;
}

/* Ajustes generales de la imagen */
.thumbnail-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.p-galleria .p-galleria-item-nav {
  color: var(--colorAzul);
}

.p-galleria-item-container {
  width: 70%;
  margin: 0 auto;
}