<app-side-bar></app-side-bar>

<div class="overflow-hidden">
    <!-- INTRO -->
    <div class="" data-aos="fade-up" data-aos-duration="1000">
        <img src="../../../assets/img/dif/FondoDif.png" alt="foto_principal_dif"  width="100%">
    </div>

    <!-- MISION Y VISION -->
    <div class="my-8" [ngStyle]="{'color': 'var(--colorGrisOscuro)'}">
        <div class="text-center font-italic text-xl md:text-4xl" data-aos="zoom-in" data-aos-duration="1000">
            <h2>DIF LARRÁINZAR</h2>
        </div>
        <div class="text-center text-xl">
            <p>Sistema Municipal Para El Desarrollo Integral De La Familia (DIF) Larráinzar, Chiapas.</p>
        </div>
        <div class="block lg:flex md:w-8 my-8 md:mx-auto">
            <div class="p-0 md:mr-8 col-12 lg:col-4" data-aos="fade-up" data-aos-duration="1000">
                <img src="../../../assets/img/dif/logo_dif_2027.jpeg" alt="logo_dif" width="100%">
            </div>
            <div class="col-10 lg:col-8 text-justify mx-auto" data-aos="fade-right" data-aos-duration="1000">
                <p>
                    DIF (Desarrollo Integral De La Familia) es un organismo público que se encarga de brindar servicios de atención a la familia 
                    y apoyo a las personas en situación de vulnerabilidad; protección de niñas, niños y adolescentes, ofrece apoyos en alimentación, 
                    ayudas técnicas, terapia física y apoyo funerario.
                </p><br>
                <div>
                    <p><b>A) Procuraduría:</b> ofrece servicios para la protección de niñas, niños y adolescentes en situación de vulnerabilidad; situación de maltrato y/o violencia.</p>
                    <p><b>B) CAIC:</b> (Centro asistencial infantil comunitario) es un espacio que se encarga de brindar educación preescolar y desayunos escolares.</p>
                    <p><b>C) Ayudas técnicas:</b> ofrece apoyos para lentes, bastones, andaderas, sillas de ruedas, auxiliares auditivas, prótesis y ortesis.</p>
                    <p><b>D) Unidad básica de rehabilitación:</b> ofrece servicio para terapia física.</p>
                    <p><b>E) Seguridad alimentaria:</b> ofrece desayunos escolares para nivel preescolar, primaria y secundaria, así como también despensas para niñas y niños menores de 5 años.</p>
                    <p><b>F) Apoyo funerario:</b> ofrece apoyo económico para la compra de ataúd.</p>
                </div>
                <p>
                    Así como también DIF municipal se encarga de comprar juguetes para el día de reyes (se celebra en la cabecera municipal) y del niño 
                    para la recreación y diversión de los niños de las diversas localidades pertenecientes al municipio de Larrainzar, y de igual manera 
                    se compra cubetas para celebrar eventos del día de las madres a las diversas localidades pertenecientes al municipio de Larrainzar.
                </p>
            </div>
        </div>
    </div>

    <!-- IMG SERVICIOS -->
    <div data-aos="fade-up" data-aos-duration="1000">
        <img src="../../../assets/img/dif/FondoDif.png" alt="cintillo_fotos_dif" width="100%">
    </div>

    <!-- REDES SOCIALES -->
    <div class="block md:flex justify-content-center my-8">
        <div class="w-5 md:w-2 mx-auto md:m-0 flex justify-content-end float-animation" data-aos="fade-up" data-aos-duration="1000">
            <img src="../../../assets/img/dif/mockup_2.png" alt="foto_redes_sociales" width="100%" class="block">
        </div>
        <div class="w-8 md:w-3 mx-auto md:m-0 font-normal font-italic mt-0 md:mt-8 line-height-1" [ngStyle]="{'color': 'var(--colorGrisOscuro)'}">
            <h2 class="text-4xl md:text-7xl text-center mt-0 md:mt-auto" data-aos="fade-left" data-aos-duration="1000">¡Síguenos en redes sociales!</h2>
            <div class="text-center w-full my-6 text-2xl" data-aos="zoom-in" data-aos-duration="1000">
                <a href="https://www.facebook.com/turismolarrainzar?rdid=UzF6qN1hqmKPEpqN&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1YJXX1vXYN%2F#" target="_blank" class="Btn-Azul">Facebook</a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
