<app-side-bar></app-side-bar>

<!-- INTRO -->
<div>
    <img src="../../../assets/img/dif/foto_principal_dif.png" alt="foto_principal_dif"  width="100%">
</div>

<!-- MISION Y VISION -->
<div class="mx-auto my-8" [ngStyle]="{'color': 'var(--colorGrisOscuro)'}">
    <div class="text-center font-italic text-4xl" >
        <h2>DIF LARRÁINZAR</h2>
    </div>
    <div class="flex w-8 my-8 mx-auto">
        <div class="mr-8">
            <img src="../../../assets/img/dif/logo_dif.png" alt="logo_dif">
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            </p><br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            </p><br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            </p>
        </div>
    </div>
</div>

<!-- IMG SERVICIOS -->
<div>
    <img src="../../../assets/img/dif/cintillo_fotos_dif.png" alt="cintillo_fotos_dif" width="100%">
</div>

<!-- REDES SOCIALES -->
<div class="flex justify-content-center my-8 ">
    <div class="flex justify-content-end">
        <img src="../../../assets/img/dif/redes_dif.png" alt="foto_redes_sociales" width="70%" class="block">
    </div>
    <div class="w-3 font-normal font-italic mt-8 line-height-1" [ngStyle]="{'color': 'var(--colorGrisOscuro)'}">
        <h2 class="text-7xl">¡Síguenos en redes sociales!</h2>
        <div class="text-center w-full my-6 text-2xl">
            <a href="#" class="Btn-Azul">Facebook</a>
        </div>
    </div>
</div>

<app-footer></app-footer>
